<%= form_with(model: casa) do |form| %>
  <% if casa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(casa.errors.count, "error") %> prohibited this casa from being saved:</h2>

      <ul>
        <% casa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
