<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @compra.usuario %>
</p>

<p>
  <strong>Orderable:</strong>
  <%= @compra.orderable_id %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
